.component--nav-welcome {
    background-image: url("../images/Background Image.jpg");
    height: 700px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

img {
    display: flex;
    align-self: flex-start;
    margin: auto;
    margin-top: 45px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px;
}

li {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 40px;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;
    font-family: 'Belgrano', serif;
    &:hover {
        opacity: 0.5;
    }
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    width: 100%
}

.golden {
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    display: flex;
    align-self: flex-start;
    margin: auto;
    margin-top: 45px;
    color: #FDD835;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Belgrano', serif;
    font-weight: bold;
}

h3 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}

button {
    width: 15%;
    height: 70px;
    background-color: #FDD835;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
    border-color: #FDD835;
    font-family: 'Belgrano', serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        color: #FDD835;
        background-color: #ffffff;
    }
}