    .component--team {
        background-color: #F1F1F1;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .imag {
        margin-left: 2em;
        margin-right: 2em;
    }