.logo {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 2em;
    margin-left: 17em;
    margin-right: 17em;
}

.img-logo {
    &:hover {
        transform: scale(1.5);
        transition-duration: 1s;
    }
}