.portfolio-our {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 17em;
    margin-right: 17em;
}

.portfolio-our1 {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin-left: 17em;
    margin-right: 17em;
}

.portfolio {
    background-color: #F1F1F1;
}